.container {
  background-color: whitesmoke;
  min-height: 100vh;
}

.main {
  padding: 0 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: lightgrey;
  padding: 0.75rem;
  width: 100%;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}
