.indoor_map_container {
  position: relative;
  font-size: 1rem;
}

.floor_plan {
  display: inline-block;
  width: 100%;
}

.floor_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
